@{
    ViewBag.Title = "Index";
}

<h2>插件管理</h2>
<br />
<a href="Content/index" target="_blank">Admin  测试宿主程序视图查找</a>
<br />
<a href="Contents/Content/index" target="_blank">Contents</a>
<br />
<a href="Admin/Content/index" target="_blank">Admin</a>

@AppDomain.CurrentDomain.SetupInformation.ApplicationBase
